@import "tailwindcss";

body{
  font-family: "poppins",sans-serif;
}

h1,h2{
  font-family: "Roboto",sans-serif;
}

@layer utilities{
  .gradient{
    background: linear-gradient(-45deg, #302b63,#00bf8f,#1cd8d2);
  }
}



.animate-fade {
  animation: fadeSlide 1s ease forwards;
}



@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-floating {
  animation: floating 4s ease-in-out infinite;
}
